body {background-image: url(../images/synapse.jpg); background-repeat: no-repeat; 
 font-family: Arial, Helvetica, sans-serif;
 color: white ;
 font: bolder; */

    }

body{
    background-color: turquoise;
}